:root {
	--primary: var(--green);

	--green: rgb(88, 242, 201);
	--blue: rgb(88, 101, 242);
}

html {
	font-size: 16px;
	color: white;
}

html, body, #root
{
	height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
