:root {
	--color-green: rgb(88, 242, 201);
	--color-blue: rgb(88, 101, 242);

	--fontsize-xxl2: 2em;
	--fontsize-xxl: 1.5em;
	--fontsize-xl: 1.25em;
	--fontsize-lg: 1.1em;
	--fontsize-md: 1em;
	--fontsize-sm: 0.9em;
	--fontsize-xs: 0.8em;
}

.LightMode {
	--background-color: #fff;
	--text-color: #000;

	--background-opposite-color-percentage: 10%;
	--background-opposite-color: #000;
}

.DimmedMode {
	--background-color: #212830;
	--text-color: #fff;

	--background-opposite-color-percentage: 10%;
	--background-opposite-color: #fff;
}

.BlueTheme {
	--primary: var(--color-blue);
}

html {
	font-size: 16px;
}

html, body, #root {
	height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
