.SocialIcon:is(button) {
	height: 2.75em;
	width: 2.75em;
	border: none;
	font-size: var(--fontsize-md);
}

.SocialIcon {
	padding: 0.5em;
	height: 1.75em;
}

.SocialIcon img {
	opacity: 0.6;
	height: 100%;
}

.ClipboardSocialIcon {
	overflow: hidden;
	display: flex;
	align-items: center;
}

.ClipboardSocialIcon:before {
	opacity: 0.6;
	content: "Copy";
	font-family: "Ubuntu", 'Noto Sans', sans-serif;
	font-size: var(--fontsize-xs);
	font-weight: 600;
	margin-right: 0.5em;
}

.ClipboardSocialIcon:active:before {
	scale: 0.98;
}
