.TechnologyButton img {
	height: 4em;
	padding: 0.5em;
	background: rgba(0, 0, 0, 0.2);
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.5em;
	box-shadow: -1em 0.25em 1.9375em rgba(0, 0, 0, 0.2);
	transition: 100ms background ease, 200ms height ease;
}

.TechnologyButton img:hover {
	height: 5em;
	background: rgba(0, 0, 0, 0.3);
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.5em;
	box-shadow: -1em 0.25em 1.9375em rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
	.TechnologyButton img {
		height: 3em;
	}

	.TechnologyButton img:hover {
		height: 4em;
	}
}
