.TechnologyButton:is(button) {
	height: 2.75em;
	width: 2.75em;
	border: none;
	font-size: var(--fontsize-md);
}


.TechnologyButton {
	padding: 0.5em;
}

.TechnologyButton, .TechnologyButton img {
	height: 1.75em;
	border-radius: 0.5em;
}
